body {
    font-family: 'KimjungchulMyungjo-Bold';
    margin: 0 auto;
    background-color: #191a1e;
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh-100px);
  }
  .span {
    letter-spacing: 3px;
  }
  #slider {
    width: 800px;
    display: flex;
    gap: 15px;
    font-size: 30px;
    justify-content: center;   

  }
  
  #sliderValue {
    font-family: 'KimjungchulMyungjo-Bold';
    display: flex;
    color: #0077ee;
      font-weight: 700;
  }
  
  .start {
    opacity: 0;
  }
  
  .animation {
    animation: fade .3s forwards;
  }
  .youtube {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    left: auto;
    right: auto;
    margin: 0 auto;
    text-align: center;
    padding: 20px 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: 700;
    color: #0077ee !important;
 
  }
  @font-face {
    font-family: 'KimjungchulMyungjo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
  
  @keyframes fade {
    0%{
      opacity: 0;
      transform: translateY(20px);
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  .holder-animation {
    animation: holder 4s;
  }
  
  @keyframes holder {
    0%{
      opacity: 1;
    }
    95%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }