 
  
  .form {
    max-inline-size: 600px;
    inline-size: 100%;
  }
  
  .label {
    display: flex;
    margin-block-end: 10px;
  }
  
  .formGroup {
    margin-block-end: 20px;
    align-items: center;

  }
  
  .formGroup label {
    display: block;
    font-weight: bold;
  }
  .formGroup button{
    align-items: center;
  }
  .formGroup input,
  .formGroup textarea {
    inline-size: 100%;
    padding-inline: 10px;
    padding-block: 10px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 4px;
  }
  
  .formGroup textarea {
    resize: vertical;
  }
  
  .button[type="submit"] {
    variant: "ghost";
    color: white;
    border: none;
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 4px;
    cursor: pointer;
    inline-size: 100%;
  }
  
  .button[type="submit"]:hover[type="submit"]:hover {
    background-color: #ffa1af;
  }